<div class="d-flex align-items-center">
    <div class="entry-favicon bg-info text-white rounded-circle d-flex justify-content-center align-items-center" style="width: 42px; height: 42px;">
        <i class="bi bi-anthropic"></i>
    </div>
    <%= yield %>
</div>